<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php" colors="true" stderr="true">

    <testsuites>
        <testsuite name="FNX-Journals">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory suffix=".php">./tests/</directory>
                <directory suffix=".php">./src/template/</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./var/test-coverage" lowUpperBound="50" highLowerBound="80" />
        <log type="testdox-html" target="./var/testdox.html" />
    </logging>

</phpunit>